@page "/About"
<section class="clean-block">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Gallery</h2>
            <p>Encuentra información sobre todas las películas, series y libros de tu interes.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image1.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/lib1.jpg" style="height: 664.562px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image4.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/Lib2.jpg" style="height: 665.062px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image6.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/lib3.webp" style="height: 659.987px;width: 415.987px;" width="409" height="607"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image5.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/pel1.jpg" style="height: 606.987px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image1.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/pel2.webp" style="height: 606.987px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image4.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/pel3.jpg" style="height: 606.987px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image6.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/ser1.jpg" style="height: 606.987px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image5.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/ser2.jpg" style="height: 606.987px;width: 415.987px;"></a></div>
            <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="/scenery/image1.jpg"><img class="img-thumbnail img-fluid image" src="assets/img/scenery/ser3.webp"></a></div>
        </div>
    </div>
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/avatars/Avatar1-1.jpg" width="214" height="146" style="height: 202.8px;">
                    <div class="card-body info" style="height: 171.038px;">
                        <h4 class="card-title">Baldovinos García Dafne</h4>
                        <p class="card-text">Frontend</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/avatars/Avatar2.jpeg" width="214" height="142" style="height: 202.8px;">
                    <div class="card-body info" style="height: 171.038px;">
                        <h4 class="card-title">Martínez Jiménez Saúl Jacob</h4>
                        <p class="card-text">Backend</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/avatars/avatar3.jpg">
                    <div class="card-body info" style="height: 171.038px;">
                        <h4 class="card-title"><strong>Mora Hernandez Jessica Ailyn</strong></h4>
                        <p class="card-text">Frontend</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="assets/img/avatars/Avatar4.jpeg" width="214" height="146" style="height: 202.8px;">
                    <div class="card-body info" style="height: 171.038px;">
                        <h4 class="card-title">Ulrich Tamayo Daniel</h4>
                        <p class="card-text">Backend</p>
                        <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>