@page "/"

<PageTitle>Clipser</PageTitle>

<div class="page" style='background: url("assets/img/Clipser.webp");position: relative;background-size: contain;width: auto;height: auto;'>
    <div class="clean-block clean-hero" style='color: var(--bs-secondary-color);background: url("assets/img/Clipser.webp") center / cover no-repeat;width: auto;height: auto;margin: auto;padding: 0px;'>
        <div class="text">
            <h2>Clipser</h2>
            <a href="About" class="btn-outline-light" style="--bs-info: #ffffff;--bs-info-rgb: 255,255,255;--bs-body-color: var(--bs-btn-border-color);--bs-body-font-size: 20px;--bs-body-font-weight: normal;color: var(--bs-body-bg);">
                About us
            </a>
        </div>
        
    </div>
</div>

Welcome to your new app.
